NODE_ENV=test

# Shut up dot env!
DOTENV_CONFIG_QUIET=true

# Airbrake config
AIRBRAKE_HOST=https://my-errbit-instance.com
AIRBRAKE_KEY=longvaluefullofnumbersandlettersinlowercase
ENVIRONMENT=dev

# Database config
DEFAULT_USER_PASSWORD=P@55word
POSTGRES_DB=wabs_engine_test
POSTGRES_DB_TEST=wabs_engine_test
POSTGRES_HOST=db
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_USER=water_user

# Hapi config
PORT=8008

# Log config
LOG_ASSET_REQUESTS=false
LOG_IN_TEST=false

# Notify
ALERT_EMAIL_ADDRESSES=admin-internal@wrls.gov.uk
GOV_UK_NOTIFY_API_KEY=my_test_key-longvaluefullofnumbersandlettersinlowercase
GOV_UK_NOTIFY_AUTH_TOKEN=longvaluefullofnumbersandlettersinlowercase
GOV_UK_NOTIFY_DAYS_OF_RETENTION=90
GOV_UK_NOTIFY_DELAY=30
GOV_UK_NOTIFY_RATE_LIMIT_PAUSE=90000
GOV_UK_NOTIFY_REPLY_TO=notify@test.gov.uk
GOV_UK_NOTIFY_TIMEOUT=10000
GOV_UK_NOTIFY_URL=https://api.notifications.service.gov.uk
NOTIFICATIONS_BATCH_SIZE=10000

# Server config
EXTERNAL_DOMAIN=http://localhost:8000
http_proxy=http://myproxy:8080
INTERNAL_DOMAIN=http://localhost:8008
REQUEST_TIMEOUT=5000

# Yar config
COOKIE_SECRET=longvaluefullofnumbersandlettersinlowercase
SESSION_NAME=engine
